# Exploratory Data Analysis

In [7]:
import numpy as np 
import pandas as pd

In [8]:
# Split dataset into train and test files for clarity
df = pd.read_csv('data/wiki4HE.csv', delimiter=';', na_values='?')
df.head()

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,...,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2.0,1,14.0,1,2.0,NaN,NaN,0.0,...,3.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,1.0,2.0
1,42,0,5.0,1,18.0,1,2.0,NaN,NaN,0.0,...,2.0,4.0,4.0,3.0,4.0,2.0,2.0,4.0,2.0,4.0
2,37,0,4.0,1,13.0,1,3.0,NaN,NaN,0.0,...,1.0,5.0,3.0,5.0,5.0,2.0,2.0,2.0,1.0,3.0
3,40,0,4.0,0,13.0,1,3.0,NaN,NaN,0.0,...,3.0,3.0,4.0,4.0,3.0,4.0,4.0,3.0,3.0,4.0
4,51,0,6.0,0,8.0,1,3.0,NaN,NaN,1.0,...,5.0,5.0,5.0,4.0,4.0,5.0,5.0,5.0,4.0,4.0

In [9]:
# Hold off testing set
test_size = int(0.2*len(df))

# Set random seed and select random indices
rng = np.random.RandomState(42) 
rand_rows = rng.choice(list(df.index), size=test_size, replace=False)

# Split data into training set and testing subsets
df_test = df.loc[rand_rows]
df_train = df.drop(labels=rand_rows)

In [10]:
df_test.shape

(182, 53)

In [11]:
df_train.shape

(731, 53)